/*
 *  This file is part of Trace.
 *
 *  Trace is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Trace is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Trace.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
	font-family: BlinkMacSystemFont, -webkit-system, Avenir Next, Helvetica, Arial, sans-serif;
	overflow: hidden;
	background: #000;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-size: 12px;
}

noscript {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00202d;
	color: #fff;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
noscript span {
	font-size: 6vh;
	text-align: center;
	padding: 0 6vw;
}

button, input {
	background: rgba(255, 255, 255, .3);
	border: none;
	padding: .3em .4em;
	color: #fff;
	font: inherit;
	border-radius: 4px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	transition: box-shadow .4s cubic-bezier(.2, .3, 0, 1);
}
@keyframes fancy-box-shadow-focus-animation {
	from { box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
}
*:focus {
	outline: none;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
	animation: fancy-box-shadow-focus-animation .4s cubic-bezier(.2, .3, 0, 1);
}
button:active {
	background: rgba(255, 255, 255, .5);
}

div[class^='jflex'] {
	display: block;
	position: relative;

	/* temporary */
	display: flex;
}
/* temporary */
.jflex-h {
	flex-direction: row;
}
.jflex-v {
	flex-direction: column;
}
.b-top { border-top: 1px solid rgba(255, 255, 255, .25); }
.b-left { border-left: 1px solid rgba(255, 255, 255, .25); }
.b-right { border-right: 1px solid rgba(255, 255, 255, .25); }
.b-bottom { border-bottom: 1px solid rgba(255, 255, 255, .25); }

#editor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#js-editor-wrap, #timeline-editor-wrap {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
}
#timeline-editor-wrap {
	flex-grow: 2;
	flex-shrink: .5;
}

#js-editor-wrap header {
	padding: 10px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .2);
}

#timeline-editor-wrap #objects, #timeline-editor-wrap #timeline {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
}
#timeline-editor-wrap #objects-list {
	max-height: 50%;
	overflow: auto;
}

#timeline-editor-wrap #timeline #sidebar, #timeline-editor-wrap #timeline #timeline-canvas {
	width: 100%;
	height: 50%;
	flex-grow: 1;
	flex-shrink: 1;
}
#timeline-editor-wrap #timeline #sidebar {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	position: relative;
}
@media (max-width: 900px) {
	#timeline-editor-wrap #timeline #sidebar {
		max-width: 29vw;
	}
}
#timeline-editor-wrap #timeline #sidebar header {
	padding: 10px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .2);
	flex-grow: 1;
	flex-shrink: 0;
}
#timeline #sidebar #properties {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
	padding-bottom: 1em;
}

#timeline #sidebar .property,
#objects #objects-list .object {
	background: #181818;
	border-top:    1px solid transparent;
	border-bottom: 1px solid transparent;
}
#timeline #sidebar .property-name,
#objects #objects-list .object-name {
	padding: .2em .3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#objects #objects-list .object-class {
	float: right;
	opacity: .5;
	margin-right: 1em;
	max-width: 40%;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: .1em;
}
#timeline #sidebar .property:hover,
#objects #objects-list .object:hover {
	border-color: rgba(255, 255, 255, .2);
}
#timeline #sidebar .property.dropdown,
#objects #objects-list .object.container {
	padding-right: 0;
	padding-bottom: 0;
}
#timeline #sidebar .property.dropdown:not(.open),
#objects #objects-list .object.container:not(.open) {
	position: relative;
}
#timeline #sidebar .property.dropdown:not(.open)::after,
#objects #objects-list .object.container:not(.open)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: .5em;
	width: 0;
	height: 0;
	border: .5em solid transparent;
	border-top-color: rgba(255, 255, 255, .5);
	transform: translateY(-.2em);
}
#objects #objects-list .object.container:not(.open) .object-class {
	margin-right: 2em;
}
#timeline #sidebar .property.dropdown.open,
#objects #objects-list .object.container.open {
	border: none;
}
#timeline #sidebar .property.dropdown .dropdown-items,
#objects #objects-list .object.container .container-items {
	padding-left: .8em;
	display: none;
}
#timeline #sidebar .property.dropdown.open .dropdown-items,
#objects #objects-list .object.container.open .container-items {
	display: block;
}
#timeline #sidebar .property.dropdown .dropdown-items .property,
#objects #objects-list .object.container .container-items .object {
	border-left: 1px solid transparent;
}
#timeline #sidebar .property.dropdown .dropdown-items .property:hover,
#objects #objects-list .object.container .container-items .object:hover {
	border-left-color: rgba(255, 255, 255, .2);
}