trace-title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 23px;
  z-index: 1;
  -webkit-app-region: drag;
}
trace-title-bar:not(.controls-enabled).hidden {
  pointer-events: none;
}
trace-title-bar .window-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
trace-title-bar .window-controls .window-control {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 23px;
  -webkit-app-region: no-drag;
}
trace-title-bar .window-controls .window-control:nth-of-type(2) {
  right: 42px;
}
trace-title-bar .window-controls .window-control:nth-of-type(3) {
  right: 84px;
}
trace-title-bar:not(.controls-enabled) .window-controls {
  display: none;
}

trace-timeline {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px;
  z-index: 1;
  transition: transform .3s cubic-bezier(.2, .3, 0, 1);
  background: rgba(0, 0, 0, 0.5);
}
trace-timeline.hidden {
  pointer-events: none;
  transform: translateY(100%);
}
trace-timeline.disabled {
  pointer-events: none;
  transform: translateY(100%);
}

trace-main-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
